<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="assets/icon/Stavya-Para-Paroktih-Grp-logo.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Welcome to our Web Application. We have following facilities.</h2>
                <ul>
                    <li>Topic Management</li>
                    <li>Interview Management</li>
                    <li>Link Management</li>
                    <li>Word Meaning Management</li>
                    <li>Task Management</li>
                    <li>Dynamic Queries</li>
                    <li>Click Counter</li>
                    <li>File Search</li>
                    <li>Event & Event-Group Logging</li>
                    <li>And obviously Global Settings!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <fa-icon [icon]="solidSVGIcons.faBook"></fa-icon> Topic Management
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>Many times we encounter issues in doing assigned tasks. Then we search on Search engine for
                            solution. And most of the time we get answer.</p>
                        <p>However after few days, we face similar issue, when again above operation to be performed.
                        </p>
                        <div>To store topics ,we can use this section to categorize tutorials in
                            <ul>
                                <li>Topics</li>
                                <li>Groups</li>
                                <li>Views</li>
                            </ul>
                        </div>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/topics-home"><b> Topic MGMT </b>- Home Page</a>
                                </li>
                                <li><a href="#/topics-list"><b> Topic MGMT </b>- List of Topics-list</a>
                                </li>
                                <li><a href="#/topics"><b> Topic MGMT </b>- Single List Topics</a>
                                </li>

                                <li><a href="#/groups-list"><b> Topic MGMT </b>- List of Groups-list</a>
                                </li>

                                <li><a href="#/views-list"><b> Topic MGMT </b>- List of Views-list</a>
                                </li>

                                <li><a href="#/site-updates"><b> Topic MGMT </b>- Topic Site Updates</a>
                                </li>
                                <li><a href="#/multipleSectionController"><b> Topic MGMT </b>- Multiple Section
                                        Controller</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <fa-icon [icon]="solidSVGIcons.faPencil"></fa-icon> Interview Management
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>Interview Management project is built to store and categorize Questions and Answers.
                            Categorization is done in <b>Category</b> </p>

                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/"><b> Interview MGMT </b>- Home Page</a>
                                </li>
                                <li><a href="#/questions-single-view"><b> Interview MGMT </b>- All Questions in one
                                        page</a>
                                </li>
                                <li><a href="#/categories-list"><b> Interview MGMT </b>- List of Category-list</a>
                                <li><a href="#/groups-list"><b> Interview MGMT </b>- List of Groups-list</a>
                                </li>
                                <li><a href="#/views-list"><b> Interview MGMT </b>- List of Views-list</a>
                                </li>
                                <li><a href="#/question-report"><b> Interview MGMT </b>- All Questions</a>
                                </li>
                                <li><a href="#/site-updates"><b> Interview MGMT </b>- Topic Site Updates</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <fa-icon [icon]="solidSVGIcons.faAnchor"></fa-icon> Link Management
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>To store remembrable web links and group them into <b>link-groups</b></p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/links"><b> Link MGMT </b>- List of Links</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <fa-icon [icon]="solidSVGIcons.faAslInterpreting"></fa-icon>
                            Word Meaning Management
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>To store word meaning. Read them. Mark all read words in reports</p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/word-mgmt"><b> Word Meaning Management </b>- All Words</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>

                            <fa-icon [icon]="solidSVGIcons.faCalendarCheck"></fa-icon>
                            Task Management
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>In our daily life, we want to do few tasks, which could enhance our knowledge, skills, public
                            relations. But after one or two days efforts we either forget what to do next, or be
                            involved in some other priority.</p>
                        <p>This application is to store tasks. We can further track them easily in same place!</p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/tasks-list"><b> Tasks </b>- Show Tasks</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <fa-icon [icon]="solidSVGIcons.faDatabase"></fa-icon>
                            Dynamic Query
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>Many times we write some good queries, but due to lack of proper saving them, we do not
                            recall them in future. This application is to store these queries.</p>
                        <p>These queries stored can be run from same place.</p>
                        <p>In future we can create our generic DB-Services, so that we will not need to create seperate
                            Backend-API projects to handle - <b>DML/CURD</b>- operations</p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/dynamic-query"><b> Dynamic Query </b>- Execute</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <fa-icon [icon]="solidSVGIcons.faCalculator"></fa-icon>
                            Click Counter
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>This simple project just counts how many times it had been clicked. This is online
                            alternative for <b>Rudraksh</b></p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a routerLink="/click-counter"><b> Click Counter
                                        </b>-
                                        Home Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>

                            <fa-icon [icon]="solidSVGIcons.faFolderOpen"></fa-icon>
                            File Search
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>Search various extension files in same page. Also most of them can be open in pop-up
                            configured in application!</p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <!-- <li><a href="../bce-gui/partials/file-search/index.html"><b> File Search </b>- Home
                                        Page</a>
                                </li> -->
                                <li><a
                                        routerLink="/file-search"><b>
                                            File Search </b>- Frequently used</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>

                            <fa-icon [icon]="solidSVGIcons.faCalendarPlus"></fa-icon>
                            Event & Event-Group Logging
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>[TBD] This project is to store events-logs in an event-group. Further event-log can have its
                            history. </p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/"><b> Event & Event-Group Logging </b>- Home Page</a>
                                </li>
                                <li><a href="#/event-group-mgmt"><b> Event & Event-Group Logging </b>-All Event
                                        Groups</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>

                            <fa-icon [icon]="solidSVGIcons.faObjectGroup"></fa-icon>
                            Reports
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>[TBD] This project is to show reports. </p>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/"><b> Reports </b>- Home Page</a>
                                </li>
                                <li><a href="#/reports/word-mgmt"><b> Reports </b>- Word Meaning</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>

                            <fa-icon [icon]="solidSVGIcons.faCubes"></fa-icon>
                            Support Activities
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div>These are activities needed
                            <ul>
                                <li>DB Backup - Export & Import</li>
                                <li>Log - Generation, Monitoring and Analysis</li>
                            </ul>
                        </div>
                        <div>
                            <b>Below are Main Pages</b>
                            <ul>
                                <li><a href="#/"><b> Support Activities </b>- Home Page</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <fa-icon [icon]="solidSVGIcons.faCogs"></fa-icon>
                            Global Settings
                        </h3>
                    </div>

                    <div class="panel-body">
                        <p>All application setting-pages to be created in this section.</p>

                        <b>Below are Main Pages</b>
                        <ul>
                            <li><a routerLink="/global-settings"><b> Global Settings </b>- For All pages</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<hr>
<!-- /.container -->